In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r'C:\Users\gusgm\Documents\SKN_note_git\SKN_note\data\data_1.csv')

C:\Users\gusgm\AppData\Local\Temp\ipykernel_22128\201654019.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(r'C:\Users\gusgm\Documents\SKN_note_git\SKN_note\data\data_1.csv')

# 1. 
컬럼별 결측치의 합이 0이 아닌 값의 최대 - 최소

In [3]:
temp = data.isna().sum()[data.isna().sum() > 0]
temp.max() - temp.min()

460408

# 2. 
컬렴별 결측치의 합이 500인 미만의 컬럼을 선택 후 dropna()를 했을 때 row수

In [4]:
data = data.loc[:, data.isna().sum() < 500].dropna()
len(data)

460287

# 3.
상업원종대분류코드의 비율을 구할 때, 처음으로 소숫점 첫번째 자리에 0이 아닌 값이 등장하는 코드

In [5]:
data.상권업종대분류코드.value_counts()

상권업종대분류코드
I2    125940
G2     98751
M1     86168
S2     46609
P1     25995
L1     23468
N1     21405
R1     18193
Q1      7683
I1      6075
Name: count, dtype: int64

In [6]:
data.columns

Index(['상가업소번호', '상호명', '상권업종대분류코드', '상권업종대분류명', '상권업종중분류코드', '상권업종중분류명',
       '상권업종소분류코드', '상권업종소분류명', '표준산업분류코드', '표준산업분류명', '시도코드', '시도명', '시군구코드',
       '시군구명', '행정동코드', '행정동명', '법정동코드', '법정동명', '지번코드', '대지구분코드', '대지구분명',
       '지번본번지', '지번주소', '도로명코드', '도로명', '건물본번지', '건물관리번호', '도로명주소', '구우편번호',
       '신우편번호', '경도', '위도'],
      dtype='object')

# 4.
강남구에서 가장 성업하는 상권업종소분류명?

In [7]:
[col for col in data.columns if data[col].astype(str).str.contains('강남구').any()]

['상호명', '시군구명', '지번주소', '도로명', '도로명주소']

In [8]:
data.query('시군구명 == "강남구"').상권업종소분류명.value_counts()

상권업종소분류명
경영 컨설팅업            5107
부동산 중개/대리업         3417
광고 대행업             3077
백반/한정식             2103
카페                 1926
                   ...
분류 안된 외국식 음식점         2
우유 소매업                2
비디오방                  1
음반/비디오물 대여업           1
바둑/장기/체스 경기 운영업       1
Name: count, Length: 245, dtype: int64

# 5.
종로구에서 가장 성업하는 상권업종소분류명?

In [49]:
data.query('시군구명 == "종로구"').상권업종소분류명.value_counts()

상권업종소분류명
백반/한정식             1177
카페                 1111
시계/귀금속 소매업          648
여행사                 613
경영 컨설팅업             611
                   ...
방사선 진단/병리 검사 의원       1
우유 소매업                1
탁구장                   1
캠핑/글램핑                1
가축 사료 소매업             1
Name: count, Length: 244, dtype: int64

# 6.
편의점 브랜드 중 서울시 내 가장 많은 매장을 보유하고 있는 브랜드?

In [10]:
data.query('상권업종소분류명=="편의점"').상호명.unique()

array(['세븐일레븐구로드림', '씨유공릉철길공원점', '씨유홍대으뜸점', ..., '씨유성내최고점', '세븐뉴스타점',
       '씨유왕십리현대점'], dtype=object)

In [59]:
stores = data[data['상권업종소분류명'] == '편의점']

seoul_stores = stores[stores['시도명'] == '서울시']
seoul_stores['상호명'].value_counts()

Series([], Name: count, dtype: int64)

In [67]:
data[data['상권업종소분류명'] == '편의점']

,상가업소번호,상호명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,표준산업분류명,...,지번주소,도로명코드,도로명,건물본번지,건물관리번호,도로명주소,구우편번호,신우편번호,경도,위도
43,MA010120220805434221,세븐일레븐구로드림,G2,소매,G204,종합 소매,G20405,편의점,G47122,체인화 편의점,...,서울특별시 구로구 구로동 197-10,1.153041e+11,서울특별시 구로구 디지털로33길,55.0,1153010200101970010022767,서울특별시 구로구 디지털로33길 55,152719,8376,126.893029,37.486746
259,MA010120220805438625,씨유공릉철길공원점,G2,소매,G204,종합 소매,G20405,편의점,G47122,체인화 편의점,...,서울특별시 노원구 공릉동 351-12,1.135041e+11,서울특별시 노원구 공릉로37길,17.0,1135010300103510012014137,서울특별시 노원구 공릉로37길 17,139802,1837,127.078410,37.623315
278,MA010120220805438815,씨유홍대으뜸점,G2,소매,G204,종합 소매,G20405,편의점,G47122,체인화 편의점,...,서울특별시 마포구 창전동 6-148,1.144041e+11,서울특별시 마포구 와우산로26길,9.0,1144011400100060148008701,서울특별시 마포구 와우산로26길 9-19,121880,4059,126.927247,37.553063
351,MA010120220805442576,이마트24신촌,G2,소매,G204,종합 소매,G20405,편의점,G47122,체인화 편의점,...,서울특별시 서대문구 대현동 104-75,1.141041e+11,서울특별시 서대문구 연세로2길,75.0,1141011200101040075023955,서울특별시 서대문구 연세로2길 75,120809,3778,126.940907,37.557079
366,MA010120220805443219,지에스25상계1단지점,G2,소매,G204,종합 소매,G20405,편의점,G47122,체인화 편의점,...,서울특별시 노원구 상계동 767-5,1.135030e+11,서울특별시 노원구 덕릉로,459.0,1135010500107670005000989,서울특별시 노원구 덕릉로 459-37,139831,1765,127.059398,37.646907
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460326,MA0101202310A0030221,지에스25잠실현대점,G2,소매,G204,종합 소매,G20405,편의점,G47122,체인화 편의점,...,서울특별시 송파구 신천동 7-30,1.171020e+11,서울특별시 송파구 송파대로,570.0,1171010200100070030000001,서울특별시 송파구 송파대로 570,138934,5510,127.099100,37.515781
460337,MA0101202311A0010124,씨유성내최고점,G2,소매,G204,종합 소매,G20405,편의점,G47122,체인화 편의점,...,서울특별시 강동구 성내동 174-74,1.174042e+11,서울특별시 강동구 천호대로168라길,22.0,1174010800101740074005598,서울특별시 강동구 천호대로168라길 22,134841,5382,127.130727,37.534382
460363,MA0101202311A0019601,세븐뉴스타점,G2,소매,G204,종합 소매,G20405,편의점,G47122,체인화 편의점,...,서울특별시 송파구 석촌동 4-9,1.171042e+11,서울특별시 송파구 백제고분로33길,31.0,1171010500100040009011388,서울특별시 송파구 백제고분로33길 31,138842,5612,127.098602,37.505451
460415,MA0101202310A0055050,씨유왕십리현대점,G2,소매,G204,종합 소매,G20405,편의점,G47122,체인화 편의점,...,서울특별시 성동구 하왕십리동 1000-419,1.120031e+11,서울특별시 성동구 난계로,97.0,1120010200110000419027980,서울특별시 성동구 난계로 97-2,133859,4721,127.023572,37.560729
460427,MA0101202310A0040093,지에스25정릉,G2,소매,G204,종합 소매,G20405,편의점,G46103,"섬유, 의복, 신발 및 가죽제품 중개업",...,서울특별시 성북구 정릉동 372-7,1.129041e+11,서울특별시 성북구 솔샘로6길,66.0,1129013300103720007030023,서울특별시 성북구 솔샘로6길 66,136850,2709,127.007723,37.608676

In [ ]:
data.query('상권업종소분류명=="편의점"').상호명.str.extract('(세븐일레븐|세븐|씨유|CU|GS|지에스).+', expand=False).value_counts()

# 7.
서울시 편의점 중 세븐, 씨유, 이마트24, 지에스가 아닌 편의점 비율? (반올림하여 소숫점 넷째자리가지 표현, %는 사용하지 않음)

In [ ]:
(len(data.query('상권업종소분류명=="편의점"')) - data.query('상권업종소분류명=="편의점"').상호명.str.extract('(세븐일레븐|씨유|CU|GS|지에스).+', expand=False).value_counts().sum()) / len(data.query('상권업종소분류명=="편의점"'))

# 8.
구별 위도와 경도의 평균보다 큰 속에 위치한 업장의 수?

In [ ]:
len(
    data.filter(items=['시군구명', '상호명', '위도', '경도'])
    .merge(data.filter(items=['시군구명', '위도', '경도']).groupby(['시군구명']).mean().rename(columns={'위도': '위도평균', '경도': '경도평균'}).reset_index(), on=['시군구명'])
    .query('위도 > 위도평균 and 경도 > 경도평균')
)

# 9.
상호명이 10글자 이상이 비율이 가장 높은 도시?

In [11]:
temp = data.filter(items=['시군구명', '상호명'])
temp['상호길이'] = data.상호명.str.len()
temp['target_len'] = temp.상호길이 >= 10
temp.filter(items=['시군구명', 'target_len']).groupby(['시군구명']).mean().sort_values(by=['target_len'], ascending=False).head(2)

      target_len
시군구명
서초구     0.167329
송파구     0.149883